@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
@import url('https://fonts.googleapis.com/css?family=Voltaire')
@import '_paper-styles'

body
  font-family 'Open Sans', sans-serif

p
  line-height 1.7em
  color #222

/* Navigation */

.selected a
  color #0A979D!important

.navbar
    position relative
    min-height 80px
    margin-bottom 0
    border none
    border-radius 0

.navbar-default
    background-color #222

.navbar-default
  .navbar-nav
    & > li
      & > a
        color #777
        text-transform uppercase
        font-weight 700
        margin-right 50px
        margin-top 16px

.navbar-default
  .navbar-nav
    & > li
      & > a:hover
        color #0A979D

.blue-link
  color #0A979D

.navbar-brand
  margin-top -20px

/* Header */
.home-header
  background url(../img/wolfbg.jpg) no-repeat center center
  background-size cover
  height 450px
  margin 0
  shadow-level(-1)

.sub-header
  background url(../img/wolf-bg-sub.jpg) no-repeat center center
  background-size cover
  height 140px
  margin 0
  shadow-level(-1)

.header-text
  margin-left 200px
  color: #eeeee8
  font-size 36px
  font-weight 400
  text-shadow 1px 2px #000
  font-family 'Voltaire', sans-serif

.page-heading
  background #0A979D
  height 100px
  margin 0
  padding-top 30px
  shadow-level(-1)

.page-heading h2
  margin 0
  padding 0
  color white
  text-transform uppercase
  font-weight 300

/* Main Content Area */

.main-content
  padding 40px 0 40px 0

.article-heading
  border-left 4px solid #0A979D
  padding-left 10px

/* Home */

.home-image
  shadow-level(4)
  border 5px solid white

/* Services */

.service-block
  background #0A979D
  border-radius 5px
  text-align center
  vertical-align middle
  padding 25px
  margin-left 0
  margin-right 10px
  margin-bottom 10px
  height 100px
  list-style none
  font-size 22px
  color white
  font-family 'Open Sans', sans-serif
  font-weight 300
  text-transform uppercase

/* Contact Form */

.map-responsive
    overflow hidden
    padding-bottom 56.25%
    position relative
    height 0

.map-responsive iframe
    left 0
    top 0
    height 100%
    width 100%
    position absolute
#wuf-adv
  display none

/* Footer */

.logo-row li
  width 20%
  float left
  list-style none

.logo-row img
  border 0 none
  display inline-block
  height auto
  max-width 100%
  vertical-align middle

.call-to-action
  background #353535
  padding 40px

.call-to-action h2
  color #0A979D
  font-weight 300

.call-button
  background #0A979D
  shadow-level(1)

.footer
  padding 20px 0 20px 0
