<%- partial("/_partials/_sub-header") %>
<div class="container main-content">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h3 class="article-heading">Philosophy</h3>
        <p>Northern Wolf Ltd provides labourers, tools, equipment and transportation to maintain the equipment and infrastructures at designated client sites.</p>
        <p>Northern Wolf will maintain equipment to original manufacturer’s specifications. The majority of preventative maintenance work will be performed by our full time building Operators,Under the direct management of dedicated supervisors.Northern Wolf will ensure that only qualified personnel will perform work which falls under their respective disciplines.</p>
        <p>Health and safety is a critical part of what Northern wolf stands for. All personnel receive mandatory health, safety and environmental (HSE) training as a part of the new hire process. Our comprehensive health and safety manual outlines the necessary steps we take to ensure the HSE impact is managed correctly and that quality controls are in place. As a part of our Health &amp; Safety Program we ensure that all employees receive the necessary training in the use and maintenance of equipment. The Northern Wolf approach ensures that employees and the equipment they use are always safe and protected.</p>
        <p>Northern Wolf works directly with First Nations in aim to create jobs and further education in our communities in where we work. All Aboriginal workers will be educated and trained in the Alberta Apprenticeship Training program. Our goal is to work with Job Core in a trade’s pre-employment program that would see graduates place in the workforce. There they can continue their on the job apprenticeship training while working towards their full journeyman status. Creating jobs and enriching the lives of First Nations peoples is a huge part of our plans for building the future.</p>
      <h3 class="article-heading">Aboriginal Relations</h3>
        <p>Northern Wolf is dedicated in being Partners with First Nations and hiring local from First Nations communities; all employees that work for Northern Wolf Ltd. Are held to a very high standard, nothing is gifted, but rather it is earned.</p>
        <p>To achieve our goals we have partnered with Job Corp an aboriginal run college based out of Lac La Biche that specializes in post-secondary education for aboriginal peoples. In Alberta there is a growing need in the workplace for skilled trade`s people. This initiative helps provide Aboriginal peoples with real opportunities to gain long term employment in the trades.</p>
        <p>Together with Job Corp we are working to revitalize their trades programs. Significant donations have been made to help facilitate this. Revitalizing the trade programs at Job Corp will significantly help with setting our aboriginal employees up to succeed. Not only will it teach them the skills of their trade, but it will help them overcome some socioeconomic changes that are associated with being part of a workforce.</p>
        <p>In addition Northern Wolf is committed to being valued members of the community in which we are working. We acquired partnership with Chipewyan Prairie First Nations. Together we believe that we can sustainably create a mutually beneficial partnership that will enrich the local community and create opportunities within.</p>
    </div>
  </div>
</div>

<%- partial("/_partials/_footer") %>
