<%- partial("/_partials/_sub-header") %>
<div class="container main-content">
  <div class="row">
      <div class="col-md-7">
        <div id="wufoo-m162557q02txgj8">
        Fill out our <a href="https://eabpa.wufoo.com/forms/m162557q02txgj8">online form</a>.
        </div>
        <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/gallery/templates/">Wufoo templates</a> to make your own HTML forms.</div>
        <script type="text/javascript">var m162557q02txgj8;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'eabpa',
        'formHash':'m162557q02txgj8',
        'autoResize':true,
        'height':'517',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { m162557q02txgj8 = new WufooForm();m162557q02txgj8.initialize(options);m162557q02txgj8.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>
    <div class="col-md-5">
      <h4>Office: (780) 623-4840</h4>
      <h4>Fax: (780) 623-8228</h4>
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35839.83090981548!2d-110.94052330523385!3d55.84549802792951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a5648d7d340d15%3A0xd5a37208dfa234cb!2sChard%2C+AB+T0P!5e0!3m2!1sen!2sca!4v1453762542967" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<%- partial("/_partials/_footer") %>
