<%- partial("/_partials/_header") %>
<div class="container main-content">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive home-image" src="/img/workers1.jpg">
      <hr>
      <p>Northern Wolf Ltd. provides labour, tools, equipment and transportation to maintain the equipment and infrastructures at designated client sites.</p>
      <p>Northern Wolf works directly with First Nations to create jobs and further education in our communities in where we work. All Aboriginal workers will be educated and trained in the Alberta Apprenticeship Training program. Our goal is to work with Job Core in a trade’s pre-employment program that would see graduates place in the workforce. There they can continue their on the job apprenticeship training while working towards their full journeyman status. Creating jobs and enriching the lives of First Nations peoples is a huge part of our plans for building the future.</p>
    </div>
    <div class="col-md-4">
      <div class="list-group">
        <h4 class="text-center"><i class="fa fa-newspaper-o"></i> Latest Updates</h4>
        <hr>
        <a class="list-group-item">
          <span class="label label-primary"><small>October 7, 2015</small></span>
          <h4 class="list-group-item-heading">Northern Wolf Provides Kitchen Fan and Hood Cleaning</h4>
          <p class="list-group-item-text">Northern Wolf has the #1 cleaning system in the industry, combining the Best Cleaning Techniques with State of the Art Equipment and Chemicals.</p>
        </a>
        <a class="list-group-item">
          <span class="label label-primary"><small>September 26, 2013</small></span>
          <h4 class="list-group-item-heading">Website Launch</h4>
          <p class="list-group-item-text">Thank you for visiting our website. Designed and developed by Liquid Trends Media.</p>
        </a>
      </div>
    </div>
  </div>
</div>

<%- partial("/_partials/_footer") %>
