<div class="call-to-action text-center">
  <div class="row">
    <div>
      <h2>Phone: (780) 623-4840</h2>
    </div>
    <div>
      <a href="/contact.html"><button type="button" class="btn btn-primary btn-lg call-button">Contact Us</button></a>
    </div>
  </div>
</div>
<div class="footer text-center">
  <div class="container logo-row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
    <ul>
      <li>
        <img src="/img/certs/ComplyWorks.png" class="img-responsive inline-block" alt="" />
      </li>
      <li>
        <img src="/img/certs/cor-seal.png" class="img-responsive inline-block" alt="" />
      </li>
      <li>
        <img src="/img/certs/ISN-logo.jpg" class="img-responsive inline-block" alt="" />
      </li>
      <li>
        <img src="/img/certs/PA.jpg" class="img-responsive inline-block" alt="" />
      </li>
      <li>
        <img src="/img/certs/PAC.jpg" class="img-responsive inline-block" alt="" />
      </li>
    </ul>
  </div>
</div>
  <p>&copy; Copyright <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> - <%= title %></p>
  <a href="http://www.liquidtrends.com">Website development by Liquid Trends Media</a>
</div>
<script type="text/javascript" src="/js/jquery.columnizer.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
